# Node modules
node_modules/

# React Native Android
android/app/build/
android/.gradle/
android/.idea/
android/local.properties

# React Native iOS
ios/Pods/
ios/build/

# firebase
/app/firebase.ts

# Bundler
*.iml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Metro cache
.expo/
.expo-shared/
.expo-packager/
.expo-cli/
.expo-worker-cache/
.expo-internal/
.expo-lock.json

# Firebase keys (IMPORTANT)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
serviceAccountKey.json

# Env config
.env
.env.local
.env.production
.env.development

# OS garbage
Thumbs.db
.DS_Store

# Build outputs
/dist/
.build/
